deepx/*.pyc
deepx/data/*
deepx/dataset/*
deepx/models/*
deepx/.theano/*
deepx/loss/*
deepx/log.txt
tensorflow/loss
tensorflow/logs
tensorflow/data
tensorflow/models
tensorflow/models_discriminator
tensorflow/models_generator
tensorflow/models_GAN
tensorflow/old
tensorflow/vocab
tensorflow/*.pyc